<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="interoperability-manager.ZPM">
    <Module>
      <Name>interoperability-manager</Name>
      <Version>1.0.1</Version>
      <Description>Interoperability-Manager</Description>
      <Keywords>REST,Interoperability</Keywords>
      <Packaging>module</Packaging>
      <CSPApplication CookiePath="/csp/irisapp/" DefaultTimeout="900" DeployPath="${cspdir}/irisapp" MatchRoles=":${dbrole}" PasswordAuthEnabled="0" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" SourcePath="/web" UnauthenticatedEnabled="0" Url="/csp/irisapp" UseSessionCookie="2"/>
      <SourcesRoot>src</SourcesRoot>
      <Resource Directory="cls" Name="User.PKG"/>
      <Resource Directory="cls" Name="Feeder.PKG"/>
      <Resource Name="Ens.MessageHeaderD.GBL"/>
      <CSPApplication CookiePath="/rest/irisapp/" DefaultTimeout="900" DispatchClass="User.REST" MatchRoles=":${dbrole}" PasswordAuthEnabled="1" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" UnauthenticatedEnabled="0" Url="/rest/irisapp" UseSessionCookie="2"/>
      <UnitTest Name="/tests" Package="UnitTest" Phase="test"/>
    </Module>
  </Document>
</Export>
